{
  "extends": ["airbnb-base"],
  "env": {
    "mocha": true
  },
  "globals": {
    "expect": true
  },
  "rules": {
    "comma-dangle": ["error", {
      "arrays": "ignore",
      "objects": "ignore",
      "imports": "always",
      "exports": "always",
      "functions": "ignore"
    }]
  }
}
